<div>
	<h1>S3 Bucket Images</h1>
	<div style="display: inline-block">
	  <% @buckets.each do |item| %>
	  	<img style="border: 1px solid black" src='/S3Images/<%= item.key %>'>
	  <% end %>
	</div>
</div>

